---

interface Props {
  title:       string
  description: string
  imageUrl?:   string
}

const { title, description, imageUrl = "/icons/storm.svg" } = Astro.props
---

<article class="w-full sm:w-[300px] md:w-[350px] h-[300px] shadow-lg p-4 rounded-lg bg-[#FFF8E8]">
  <section class="flex flex-col gap-4">
    <img src={ imageUrl } alt="Tormenta" class="w-full h-32" />
    <h2 class="text-pretty text-2xl font-bold"> { title } </h2>
    <p class="text-sm text-pretty">
      { description }
    </p>
  </section>
</article>
