---
import CardInfo from '@/modules/home/components/cards/CardInfo.astro'

const infoCards = [
  {
    title: 'Disaster Predictor',
    description: 'Disaster Predictor es una iniciativa innovadora desarrollada como parte de un proyecto de tesis de grado en Ingeniería de Sistemas, enfocado en la detección, predicción, y mitigación de desastres naturales, específicamente aquellos relacionados con el fenómeno de El Niño en Bolivia. 🌪️',
    icon: 'starfall'
  },
  {
    title: 'Nuestra Misión',
    description: 'Nuestra misión es ofrecer predicciones precisas sobre desastres naturales relacionados con el fenómeno de El Niño en Bolivia, permitiendo anticipar estos eventos con suficiente antelación. A través de nuestra plataforma, proporcionamos sugerencias de mitigación que facilitan la implementación temprana de medidas preventivas, apoyando a las comunidades más vulnerables y a las autoridades locales en la protección de vidas y recursos. Con DisasterPredictor, buscamos fortalecer la capacidad de respuesta y minimizar el impacto de estos desastres, utilizando tecnología avanzada y modelos de inteligencia artificial.',
    icon: 'rocket'
  },
  {
    title: 'Tecnología de Vanguardia',
    description: 'DisasterPredictor utiliza redes neuronales basadas en modelos Transformers, una de las arquitecturas más avanzadas en el campo del aprendizaje profundo. Estas redes son capaces de analizar vastos conjuntos de datos históricos y actuales, identificando patrones complejos que permiten predecir eventos climáticos con alta precisión.',
    icon: 'shield'
  },
]

---

<div class="mt-36" id="main-section">
  <div class="w-full grid justify-center items-center gap-12 md:grid-cols-2 lg:grid-cols-3 px-8 sm:px-2">
    {
      infoCards.map( ({ title, description, icon  }) => (
        <CardInfo title={ title } description={ description } icon={ icon } />
      ) )
    }
  </div>
</div>
