---
import Layout from '@/modules/shared/layouts/Layout.astro'
import Title from '@/modules/shared/components/Title.astro'
import HomeNavbar from '@/modules/home/components/HomeNavbar.astro'

---

<Layout>
  <HomeNavbar />
  <Title> Sobre nosotros </Title>
</Layout>
