---
import Layout from '@/modules/shared/layouts/Layout.astro'
import Title from '@/modules/shared/components/ui/Title.astro'
import HomeNavbar from '@/modules/home/components/ui/HomeNavbar.astro'
import HomeInfo from '@/modules/home/components/info/HomeInfo.astro'
import Footer from '@/modules/shared/components/ui/Footer.astro'
import { LastPredictions } from '@/modules/home/components/info/LastPredictions.tsx'

import { HomeMap } from '@/modules/home/components/maps/HomeMap.tsx'

---

<Layout>
  <HomeNavbar />

  <Title class="text-center text-pretty mt-8"> 🚨 Disaster Predictor 🌍 </Title>

  <div class="w-full flex flex-col justify-center items-center mt-12 gap-12 lg:flex-row lg:gap-4 px-4">
    <div class="w-full px-4 lg:w-2/3 lg:px-0">
      <LastPredictions client:only="react" />
    </div>
    <div class="w-full px-4 lg:w-1/3 lg:px-0">
      <HomeMap client:only="react" />
    </div>
  </div>

  <div class="pb-20">
    <HomeInfo />
  </div>

  <div class="w-full mt-36">
    <Footer />
  </div>
</Layout>
