---
import { actions } from 'astro:actions'
import { Icon } from 'astro-icon/components'
import AdminLayout from '@/modules/admin/layouts/AdminLayout.astro'

const { data: contactMessagesData, error: contactMessagesError } = await actions.findAllContactMessages()
if ( contactMessagesError ) return Astro.redirect( '/admin' )
const { contactMessages } = contactMessagesData
---

<AdminLayout>
  <div class="w-full">
    <div class="bg-cream-100 w-full min-h-screen py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-4xl mx-auto">
        <h1 class="text-4xl font-extrabold text-coffee-800 mb-8 text-center">
          Mensajes de Contacto 📧
        </h1>

        <div class="bg-white rounded-xl shadow-2xl p-8 mt-16">
          <h2 class="text-2xl font-bold text-coffee-700 mb-6 flex items-center">
            <Icon name="mdi:list-status" class="w-8 h-8 mr-2 text-teal-500" />
            Lista de Mensajes de Contacto
          </h2>
          <ul class="flex flex-col gap-4">
            {
            contactMessages.map( ( contactMessage ) => (
            <li class="bg-cream-100 rounded-lg p-4 flex flex-col items-center justify-between transition duration-300 ease-in-out transform hover:scale-102 hover:shadow-md gap-8 md:flex-row">
              <a href={ `/admin/contact-messages/${ contactMessage.id }` }>
                <div class="flex items-center space-x-4">
                  <div>
                    <h3 class="text-xl font-semibold text-coffee-700 flex items-center">
                      { contactMessage.name }
                    </h3>
                    <p class="text-coffee-600 mt-5 line-clamp-2">{ contactMessage.email }</p>

                    <div class="flex items-center space-x-2 py-4">
                      <span
                        class={ "text-red-500 text-xs rounded-full px-2 py-1 bg-red-100 font-semibold flex items-center justify-center gap-2" }
                      >
                        { contactMessage.reason }
                      </span>
                    </div>
                  </div>
                </div>
              </a>
              <div class="flex space-x-2">
                <a
                  class="p-2 text-teal-600 hover:bg-teal-100 rounded-full transition duration-300 ease-in-out edit-button"
                  href={ `/admin/contact-messages/${ contactMessage.id }` }
                >
                  <Icon name="mdi:eye" size={ 24 } />
                </a>
              </div>
            </li>
            ) )
            }
            {
            ( contactMessages.length === 0 ) && (
            <li class="bg-cream-50 rounded-lg p-4 flex items-center justify-center">
              <p class="text-coffee-600 text-center">No hay mensajes de contacto registrados.</p>
            </li>
            )
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</AdminLayout>
