---
import { Icon } from 'astro-icon/components'
import AdminLayout from '@/modules/admin/layouts/AdminLayout.astro'
import Title from '@/modules/shared/components/ui/Title.astro'
import { AllMitigations } from '@/modules/home/components/info/AllMitigations.tsx'
import { actions } from 'astro:actions'


const { data: mitigationActionsData, error: findMitigationActionsError } = await actions.findAllMitigationActions({})
const { data: disasterTypesData, error: findOneError } = await actions.findAllDisasterTypes()

if ( findMitigationActionsError || findOneError ) return Astro.redirect( '/404' )

const { mitigationActions } = mitigationActionsData
const { disasterTypes } = disasterTypesData
---

<AdminLayout>
  <div class="container mx-auto p-8">
    <Title class="text-center text-pretty my-8">  Dashboard - Administrador   </Title>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <h2 class="text-coffee-800 text-2xl font-semibold mb-6 flex items-center">
          <Icon name="mdi:shield-check" class="w-8 h-8 mr-3 text-teal-500" />
          Propuestas de Mitigaci贸n
        </h2>
        <ul class="space-y-4 text-lg">
          <li class="flex items-center">
            <Icon name="mdi:water-pump" class="w-6 h-6 mr-3 text-coffee-600" />
            <span>Mejora de sistemas de drenaje</span>
          </li>
          <li class="flex items-center">
            <Icon name="mdi:tree" class="w-6 h-6 mr-3 text-coffee-600" />
            <span>Reforestaci贸n de zonas cr铆ticas</span>
          </li>
          <li class="flex items-center">
            <Icon name="mdi:home-flood" class="w-6 h-6 mr-3 text-coffee-600" />
            <span>Construcci贸n de barreras anti-inundaci贸n</span>
          </li>
        </ul>
      </div>

      <div class="bg-white rounded-lg shadow-lg p-8">
        <h2 class="text-coffee-800 text-2xl font-semibold mb-6 flex items-center">
          <Icon name="mdi:alert-circle" class="w-8 h-8 mr-3 text-teal-500" />
          Tipos de Desastres Naturales
        </h2>
        <ul class="space-y-4 text-lg">
          <li class="flex items-center">
            <Icon name="mdi:waves" class="w-6 h-6 mr-3 text-coffee-600" />
            <span>Inundaciones</span>
          </li>
          <li class="flex items-center">
            <Icon name="mdi:landslide" class="w-6 h-6 mr-3 text-coffee-600" />
            <span>Deslizamientos de tierra</span>
          </li>
          <li class="flex items-center">
            <Icon name="mdi:weather-dust" class="w-6 h-6 mr-3 text-coffee-600" />
            <span>Sequ铆as</span>
          </li>
        </ul>
      </div>

      <div class="bg-white rounded-lg shadow-lg p-8 md:col-span-2">
        <h2 class="text-coffee-800 text-2xl font-semibold mb-6 flex items-center">
          <Icon name="mdi:history" class="w-8 h-8 mr-3 text-teal-500" />
          ltimos Registros de Acciones de Mitigaci贸n
        </h2>
        <div class="min-h-screen w-full">
          <div class="w-full px-4 flex items-center justify-center">
            <p class="text-pretty text-[#5c4f3d] text-md max-w-[600px]">
              En esta secci贸n se muestra el historial de mitigaciones realizadas en el sistema.
              La tabla muestra las mitigaciones desde las mas recientes hasta las mas antiguas.
            </p>
          </div>
          <div class="w-full flex flex-col justify-center items-center mt-16 gap-12 lg:flex-row lg:gap-4 px-4 sm:px-12">
            <div class="w-full px-4 lg:w-2/3 lg:px-0">
              <AllMitigations
                mitigationActions={ mitigationActions }
                disasterTypes={ disasterTypes }
                client:only="react"
              />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</AdminLayout>
